[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pep8-naming = "*"
autopep8 = "*"
tensorboard-logger = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tensorboard = "*"
seaborn = "*"
pytest = "*"
tensorflow = "*"
einops = "*"
timm = "*"
transformers = "*"

[dev-packages]
torch-tb-profiler = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
